{% extends 'users/base.html' %}
{% load static %}
{% block content %}


    <div class="pagetitle">
      <h1>Account Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">accountdetails</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    
  {% comment %} <div class="text-center mb-3">
    {% if request.user.reg.dp %}
      <img src="{{ request.user.reg.dp.url }}" alt="Profile" class="rounded-circle" style="width:80px;height:80px;object-fit:cover;">
    {% else %}
      <img src="{% static 'images/default.jpg' %}" alt="Profile" class="rounded-circle" style="width:80px;height:80px;object-fit:cover;">
    {% endif %}
    <p class="mt-2 mb-0" style="font-size:1.1em;font-weight:500;">Welcome, {{request.user.reg.firstname}} {{request.user.reg.lastname}}</p>
    <span style="color:#888; font-size:0.95em;">(Checking Account)</span>
  </div> {% endcomment %}


    <section class="section">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Balance Enquiry</h3>
              <!-- Responsive Table -->
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Account Number</th>
                      <th scope="col">Account Name</th>
                      <th scope="col">Internal Ref</th>
                      <th scope="col">Account Type</th>
                      <th scope="col">Account Balance</th>
                      <th scope="col">Account Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">{{request.user.reg.account_no}}</th>
                      <td>{{request.user.reg.firstname}} {{request.user.reg.lastname}} </td>
                      <td>Designer</td>
                      <td>28</td>
                      <td>2016-05-25</td>
                      <td>2016-05-25</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- End Responsive Table -->

              <div class="row align-items-center pt-4">
                <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
                  <img src="https://media.istockphoto.com/id/1152189152/vector/red-alert-icon.jpg?s=612x612&w=0&k=20&c=Kw_-i314F4cxgn2hmakp-88-O45FSx62c6r-OzKYMw4=" style="max-width:80px; margin-top:10px;">
                </div>
                <div class="col-12 col-md-8">
                  <h4>Security Alert</h4>
                  <p>Do not disclose your Internet Banking/Card Details, Secret PIN or Token Codes to anyone.</p>
                  <p>Our staff or agents will never call or send you an email to request Passcode, Secret Pin, Token Codes or Card Details.</p>
                  <a href="https://wa.me/12256780173" target="_blank" class="btn btn-success mt-2">Contact Support on WhatsApp</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 
      
  </main><!-- End #main -->

  {% endblock content %}