{% extends 'users/base.html' %}
{% load static %}
{% block content %}

    <div class="pagetitle">
      <h1>Account Beneficiery</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">accountBeneficiery</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
          <div class="">
  
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Account Beneficiary List</h3>
                <p style="padding-top:10px;">View list of all of your account beneficiary. You can add upto 4 account beneficaries.</p>
                <p style="padding-top:10px;">If you want to add Account beneficairy then <a href="{% url 'add-beneficiery' %}">Click Here</a></p>
  
                <!-- Default Table -->
                <table class="table">
                  <thead>
                    <tr class="table-secondary">
                      <th scope="col">
                        Full Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">IPhone</th>
                      <th scope="col">Address</th>
                      <th scope="col">ID Number</th>
                      <th scope="col">ID (Type)</th>
                      <th scope="col">Relation</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                </table>
                <!-- End Default Table Example -->
                <div style="padding-top:10px;">
                    <p style="font-weight:bold;">You don't have any Beneficiary added. We recommend you to Add your account beneficiary.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      
  </main><!-- End #main -->

  {% endblock content %}