{% extends 'users/base.html' %}
{% load static %}
{% block content %}



    <div class="pagetitle">
      <h1>Credit Card</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">creditcards</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div>
        <P>Welcome, Matthias Maurer( Checking Account )</P>
    </div>


    <div class="">
        <div class="card info-card revenue-card">
          <div class="card-body">
            <h5 class="card-title">View Credit Card Details</h5>
      
            <div class="d-flex align-items-center">
              <div class="ps-3">
                <h6>You currently do not have ATM Credit Card connected to your account. Please contact customer care to apply for your Atm card.
                    <br>
                If you have any query, please <a href="contactus.html"> Contact Us.</a></h6>
              </div>
            </div>
          </div>
      
        </div>
      </div>

  </main><!-- End #main -->

  {% endblock content %}