{% extends 'users/base.html' %}
{% load static %}
{% block content %}



    <div class="pagetitle">
      <h1>Credit Card</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Credit Cards</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div>
        <p>Welcome, {{request.user.reg.firstname}} {{request.user.reg.lastname}} <span style="color:#888;">(Checking Account)</span></p>
    </div>


    <div class="">
        <div class="card info-card revenue-card">
          <div class="card-body">
            <h5 class="card-title">View Credit Card Details</h5>
      
            <div class="d-flex align-items-center">
              <div class="ps-3">
                <h6>
                  {% if request.user.reg %}
                    You currently do not have an ATM Credit Card connected to your account.<br>
                    Please contact customer care to apply for your ATM card.<br>
                  {% else %}
                    Please log in to view your credit card details.<br>
                  {% endif %}
                  If you have any query, please <a href="https://wa.me/12256780173" target="_blank">Contact Us on WhatsApp</a>.
                </h6>
              </div>
            </div>
          </div>
      
        </div>
      </div>

  </main><!-- End #main -->

  {% endblock content %}