{% extends 'users/base.html' %}
{% load static %}
{% block content %}



    <div class="pagetitle">
      <h1>Enter Pin</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Transfer Funds</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div>
        {% comment %} <P>Welcome, Matthias Maurer( Checking Account )</P> {% endcomment %}
    </div>


    <div class="">
        <div class="card info-card revenue-card">
            <div class="card-body">
                <h5 class="card-title">Enter 4 digit Security PIN</h5>

               
                <form>
                    
                  

                    
                      <div class="row mb-3">
                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label"> SECURITY PIN</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="pin" type="number" class="form-control">
                        </div>
                      </div>


                    <div class="row mb-3">
                      <button type="submit" class="btn btn-success">Transfer</button>
                    </div>
                  </form><!-- End Change Password Form -->

            </div>
        </div>
    </div>

  </main><!-- End #main -->

  {% endblock content %}