{% extends 'users/base.html' %}
{% load static %}
{% block content %}

    <div class="pagetitle">
      <h1>Pay To Company</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">user</a></li>
          <li class="breadcrumb-item"><a href="{% url 'billpaycenter' %}">billpaycenter</a></li>
          <li class="breadcrumb-item active">pay to company</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
 

    <section class="section">
        <div class="row">
          <div class="">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Make Payment instantly</h5>
                <!-- General Form Elements -->
              <form>
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control">
                  </div>
                </div>
              
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">Amount</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control">
                  </div>
                </div>

                <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Balance</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Pay to account number</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control">
                    </div>
                  </div>
        

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Pay From </label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example">
                      <option value="1">checking account</option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Service description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" style="height: 100px"></textarea>
                    </div>
                  </div>

               
                  <div class="" style="text-align:center;">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>
    </div>
</section>

      
  </main><!-- End #main -->
  
  {% endblock content %}