{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}

  
	<div class="hero overlay inner-page">
        <div data-aos="fade-up">
                <img src="{% static 'images/ContentImageHandler.ashx-31.jpg' %}" alt="Image">
            </div>

		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5"  >
				<div class="col-lg-6 text-center pe-lg-5" >
					<h1 class="heading text-white mb-3" data-aos="fade-up" >About Us</h1>
				</div>
			</div>
		</div>
	</div>

    
    <div style="padding:20px;"></div>
    <div class="container">
     
        <p>Barclays Bank is a $650,000,000 commercial bank located on the north side of Chicago and in the near north suburbs. Barclays Bank is oriented to business owners, real estate operators/developers, professionals and others who understand the benefits that flow from developing a personal relationship with a mid-sized business bank. At a time when many locally owned financial institutions are merging into enormous, highly impersonal multinational banks, we offer an intelligent alternative for those who desire personal attention, quick service and access to decision makers. To put it in a familiar perspective, while we all go to fast food or chain restaurants for a quick meal, when we want a truly satisfying dining experience most of us choose a place where the owner knows us, is familiar with our needs, and can offer thoughtful recommendations and advice. Barclays Bank offers you a similar choice in handling your banking requirements.</p>

    
        <p>Founded in 1953, Barclays Bank has grown steadily into one of the top-rated banks in the United States. The bank's strong financial condition provides an additional measure of security to our depositors and also allows the bank to focus on its most important mission: serving the diverse financial needs of our customers. To meet those needs, we offer an extremely wide array of financial services. Those services can be delivered by phone, fax, computer, mail or at one of our four full service locations. Perhaps most important, those services are delivered by well-trained professionals who share the common goal of providing value to each of our customers. Over sixty years of experience have taught us that the more successful our customers are, the more successful the bank becomes. We make it our business to help you achieve your financial goals.</p>

    
        <p>If you are frustrated dealing with banks and other financial institutions that do not return phone calls, treat you as though handling your business was a burden instead of a privilege, and fail to provide a meaningful level of personal service, it's time to move your banking business to Barclays Bank. In addition to serving business and real estate interests, we assist many consumers, colleges and universities, not-for-profit groups, religious organizations and condominium/cooperative associations in meeting their financial goals. Barclays Bank has an outstanding reputation among both its customers and competitors. We think we will earn that same rating from you!</p>
        

        <div style="padding:10px;"></div>
  </div>


{% endblock content %}