{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}





	<div class="hero overlay inner-page">

         <div data-aos="fade-up">
        <img src="{% static 'images/ContentImageHandler.ashx-51.jpg' %}" alt="Image">
    </div>
		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5" >
				<div class="col-lg-6 text-center pe-lg-5" >
					<h1 class="heading text-white mb-3" data-aos="fade-up" >Barclays Bank Online <br> Accessibility Statement</h1>
				</div>
			</div>
		</div>
	</div>

   
    <div style="padding:20px;"></div>
    <div class="container">
        <p>If you have difficulty accessing features or functions on this website, please email us at abtcustservice@albanybank.com or call us at (773) 267-7300 during regular business hours and we will work with you to provide the information you seek.</p>

        <p>Our goal is to permit customers to successfully gather information and conduct business through our website and other technology platforms. Coast Fund B@nk has taken steps and is devoting resources to promote accessibility.</p>

        <p>We have engaged outside vendors and consultants for this purpose in an effort to be compliant with the WCAG 2.0 standards. Specific items our vendors have addressed or are addressing include:</p>

        <ul>
            <li>Use of headings, lists, paragraphs, and other formatting features on www.albanybank.com so guests can more easily use the site</li>
            <li>Use of functionality that operates through a keyboard interface without requiring specific timings for individual keystrokes</li>
            <li>When choosing colors and site design we consider the issue of contrast to promote the accessibility of images and text</li>
            <li>Designating responsibility for ensuring and promoting the accessibility of our website and other technologies</li>
        </ul>
        

        <div style="padding:10px;"></div>
  </div>


{% endblock content %}