{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}






  
	<div class="hero overlay inner-page">

        <div data-aos="fade-up">
        <img src="{% static 'images/ContentImageHandler.ashx-25.jpg' %}" alt="Image">
    </div>

		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5">
				<div class="col-lg-6 text-center pe-lg-5">
					<h1 class="heading text-white mb-3" data-aos="fade-up">Additional Services</h1>
				</div>
			</div>
		</div>
	</div>

    

    <div class="container">
        <div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"> Type of Service</th>
                    <th>Consumer</th>
                    <th>Business</th>
                 </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>ACH Origination</td>
                    <td></td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>ACH Receiving</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>ACH Electronic Data Interchange</td>
                    <td></td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Account Reconciliation</td>
                    <td></td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Automatic Loan Payment</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Automatic Transfer Checking/Savings</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Automated Teller Machines</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Bank By Mail</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Cash Management Services</td>
                    <td></td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Cashier's Checks</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Credit Cards: Merchant</td>
                    <td></td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Debit Cards</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Domestic Wire Transfer Services</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Drive-Up Banking</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>External Transfers</td>
                    <td>✓</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Foreign Currency</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>International Wire Transfer Services</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>Internet Banking / Internet Bill Payment</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>
                        <p>Investment Services:<p>
                        <ul>
                            <li>Commercial Paper</li>
                            <li>Municipal Bonds</li>
                            <li>Safekeeping</li>
                            <li>Stocks</li>
                            <li>Tax Exempt Funds</li>
                            <li>U.S. Treasury Bills, Notes, and Bonds</li>
                        </ul>
                    </td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>External Transfers</td>
                    <td>✓</td>
                    <td></td>
                </tr>
                <tr>
                    <td>I.O.L.T.A.</td>
                    <td></td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>Land Trust Services</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>Mobile Banking / Mobile Deposit</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Money Orders</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Night Depository Services</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Notary Service</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Overdraft Protection</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Positive Pay</td>
                    <td></td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Remote Deposit</td>
                    <td></td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Safe Deposit Box Services</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>Signature Guarantee</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>Telephone Banking</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>U.S. Savings Bonds: Redeemed</td>
                    <td>✓</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Walk-Up Window Services</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>

                <tr>
                    <td>Zelle®</td>
                    <td>✓</td>
                    <td></td>
                </tr>


                  
                 </tbody>
            </table>
        </div>


        <div style="padding:20px;"></div>
</div>


{% endblock content %}