{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}






  
	<div class="hero overlay inner-page">

         <div data-aos="fade-up">
        <img src="{% static 'images/ContentImageHandler.ashx-6.jpg' %}" alt="Image">
    </div>
		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5" >
				<div class="col-lg-6 text-center pe-lg-5" >
					<h1 class="heading text-white mb-3" data-aos="fade-up" >ATM & Debit Cards</h1>
				</div>
			</div>
		</div>
	</div>

   
    <div style="padding:20px;"></div>
    <div class="container">
        <h2 class="heading text-primary">When Traveling</h2>
        <p>Protect yourself from fraud when you travel. If you plan to travel outside the United States, please call us toll-free at (877) 725-2265. Or simply login to CFD's online b@nking and use Secure Messages located on the Overview page. Tell us your card number, travel dates and destination. Failure to notify us of your travel plans may alert our Fraud Protection Services and may delay your Debit MasterCard usage outside the United States.</p>

        <div style="padding:10px;"></div>

        <h2 class="heading text-primary">ATM Locator</h2>
        <p style="font-weight:bold;">MoneyPass</p>
        <p>Use the MoneyPass® network ATM machines surcharge-free. Visit moneypass.com, type in your zip code to find a machine near you.</p>

        <h2 class="heading text-primary">ATM Locator</h2>
        <p>Enroll in MasterCard® SecureCodeTM before using your card for purchases online.</p>
        <p>MasterCard® SecureCodeTM is a new online security service to guard against the unauthorized use of your Debit MasterCard? while shopping online at participating merchants. There is no reason to get a new card, no software to download, and no hassles - just added security. Once enrolled in this free service, you'll have the added confidence knowing that MasterCard® SecureCodeTM performs an extra authentication step to protect your account from unauthorized online use.</p>

        <div style="padding-top:10px;">
            <a href="" class="btn btn-primary me-4">Enroll Now</a>
        </div>

        <div style="padding:10px;"></div>
        <h2 class="heading text-primary">Lost or Stolen Cards</h2>
        <p>During regular banking hours, call our main office at (773) 267-7300 or call toll-free at (877) 725-2265.</p>
        <p>After regular banking hours, call toll-free at (800) 472-3272.</p>

        <div style="padding:10px;"></div>
  </div>


{% endblock content %}