{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}






  
	<div class="hero overlay inner-page">
<div data-aos="fade-up">
					<img src="{% static 'images/ContentImageHandler.ashx-26.jpg' %}" alt="Image">
				</div>

		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5">
				<div class="col-lg-6 text-center pe-lg-5">
					<h1 class="heading text-white mb-3" data-aos="fade-up">Business Checking</h1>
					<div class="align-items-center mb-4" data-aos="fade-up" data-aos-delay="200">
						<a href="{% url 'rates' %}" class="btn btn-outline-white-reverse me-4">See Rates</a>
					</div>
                    
				</div>
			</div>
		</div>
	</div>

				

                


    <div style="padding-top:40px; padding-left:20px">
        <p>At CFD, we understand the importance of building a strong personal relationship with our business customers. Our experienced staff will give you professional advice to assist you in making the right account choices to suit your financial needs.</p>
    </div>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
             Commercial Analysis Checking
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

                <p style="color:black; font-weight:bold;">Opening Eligibility: To open this account, you must be 18 years of age and deposit at least $100.00.</p>

                <h2>Earnings Allowance</h2>
                <p>Account Analysis allows the earning value of the average ledger balance(s) for the current Month's Statement cycle in your DDA account(s) to offset the current Month's banking service charges. The earnings rate is variable and determined monthly at the banks discretion.</p>
                <div>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            {% comment %} <th scope="col" colspan="2">Charges</th> {% endcomment %}
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Tier 1</td>
                            <td>$0 to $49,999.99</td>
                            <td>The Earnings rate earned on the entire balance portion will be</td>
                            <td>0.10%</td>
                          </tr>

                          <tr>
                            <td>Tier 2</td>
                            <td>$50,000.00 to $99,999.99</td>
                            <td>The Earnings rate earned on the entire balance portion will be</td>
                            <td>0.20%</td>
                          </tr>

                          <tr>
                            <td>Tier 3</td>
                            <td>$100,000.00 to $149,999.99</td>
                            <td>The Earnings rate earned on the entire balance portion will be</td>
                            <td>0.10%</td>
                          </tr>

                          <tr>
                            <td>Tier 4/td>
                            <td>$150, 000.00 or more</td>
                            <td>The Earnings rate earned on the entire balance portion will be</td>
                            <td>0.25%</td>
                          </tr>
                        </tbody>
                    </table>
                </div>


                <h2 class="heading text-primary">Account Analysis Service Fee</h2>

                <p>The service charge generated by Account Analysis will be deducted on each Monthly Statement.</p>

                <h2 class="heading text-primary">Charge at Recap</h2>
                <p>You may decide to combine Business Checking Accounts you hold at Coast Fund B@nk for Analysis purposes. All recap account average ledger balances and service fees for the current Month's Statement cycle will be combined with the resulting service fee being deducted from the Primary Account's Monthly Statement.</p>
                

                <div>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col" colspan="2">Charges</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                          
                            <td>Monthly Maintenance Fee</td>
                            <td>$15.00</td>
                          </tr>

                          <tr>
                            <td>Deposits (each)</td>
                            <td>0.75%</td>
                          </tr>

                          <tr>
                            <td>Checks/Items Deposited (each) </td>
                            <td>0.25%</td>
                          </tr>

                          <tr>
                            <td>Deposits (each)</td>
                            <td>0.75%</td>
                          </tr>

                          <tr>
                            <td>Cash Deposited per 100.00</td>
                            <td>0.10%</td>
                          </tr>

                          <tr>
                            <td>Checks Paid (each)</td>
                            <td>0.25%</td>
                          </tr>

                          <tr>
                            <td>ACH credits & debits (each)</td>
                            <td>0.15%</td>
                          </tr>

                          <tr>
                            <td>Foreign ATM Withdrawal</td>
                            <td>2.50%</td>
                          </tr>

                          <tr>
                            <td>Foreign ATM Deposit</td>
                            <td>0.75%</td>
                          </tr>

                          <tr>
                            <td>Negative Collected Balance Usage Fee</td>
                            <td>Prime Rate Plus 2%</td>
                          </tr>

                          
                        </tbody>
                    </table>
                </div>

    

                <div>
                    <i>See disclosure for details.</i>
                    
                    <i>If you close your account within three (3) months from the opening date, an Early Closing fee of $10.00 will be assessed.</i>
                    <i>Please refer to our Customer Accommodation Service Fee Schedule for a listing of other fees that may apply to your account.</i>
                    <i>Checks/Withdrawals are subject to our Check Clearing Policy.  No checks of any kind are cashed for Non-customers.</i>
                </div> 



          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Small Business Checking
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p style="color:black; font-weight:bold;">Opening Eligibility: To open this account, you must be 18 years of age and deposit at least $100.00.</p>
                <div>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col" colspan="2">Charges</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                                <div>
                                    <p>
                                        Monthly Maintenance Fee
                                    </p>
                                    <p>The Monthly Maintenance Fee will be waived if your Average Balance is $1,500.00 or more</p>
                                </div>
                            </td>
                            <td>$9.00</td>
                          </tr>

                          <tr>
                      
                            <td>
                                <p>Foreign ATM Fee</p>
                            <p>Foreign ATM refers to all Non-CFD and Non-Money Pass ATMs</p></td>
                            <td>$2.50</td>
                          </tr>
                          
                          <tr>
                            <td>Paper Statements</td>
                            <td>$3.95</td>
                          </tr>
                          <tr>
                            <td>eStatements</td>
                            <td>Free</td>
                          </tr>

                          <tr>
                            <td><p>Transaction fees - first 75 Transactions per statement cycle</p>
                                <p>Transactions over 75 (each)</p>
                                <p>Transactions include: Deposits, Items deposit, ACH debits & credits, & checks paid.</p></td>
                            <td><p>Free</p>
                                <p>$0.50</p>
                            </td>
                          </tr>

                        </tbody>
                    </table>
                </div>

                <div>
                    
                    <p><a href="#">See disclosure for details.</a></p>
                    <i>If you close your account within three (3) months from the opening date, an Early Closing fee of $10.00 will be assessed.</i>
                    <i>Please refer to our Customer Accommodation Service Fee Schedule for a listing of other fees that may apply to your account.</i>
                    <i>Checks/Withdrawals are subject to our Check Clearing Policy.  No checks of any kind are cashed for Non-customers.</i>
                </div> 
            </div>
        </div>
        </div>



        
    


        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Business Interest Checking
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

				<p style="color:black; font-weight:bold;">Opening Eligibility: To open this account, you must be 18 years of age and deposit at least $100.00.</p>
                <div>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col" colspan="2">Charges</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                                <div>
                                    <p>
                                        Monthly Maintenance Fee
                                    </p>
                                    <p>The Monthly Maintenance Fee will be waived if your Average Balance is $10,000.00 or more</p>
                                </div>
                            </td>
                            <td>$20.00</td>
                          </tr>


                          <tr>
                            <td><p>Transaction fees - first 75 Transactions per statement cycle</p>
                                <p>Transactions over 75 (each)</p>
                                <p>Transactions include: Deposits, Items deposit, ACH debits & credits, & checks paid.</p></td>
                            <td><p>Free</p>
                                <p>$0.50</p>
                            </td>
                          </tr>

                          <tr>
                      
                            <td><p>Foreign ATM Fees</p>
                                <p>Foreign ATM refers to all non-CFD and non-Money Pass ATMs.</p>
                            </td>
                            <td>$2.500</td>
                          </tr>
                          
                          
                        

                        </tbody>
                    </table>
                </div>

                <div>
                    
                    <p><a href="#">See disclosure for details.</a></p>
                    <i>If you close your account within three (3) months from the opening date, an Early Closing fee of $10.00 will be assessed.</i>
                    <i>Please refer to our Customer Accommodation Service Fee Schedule for a listing of other fees that may apply to your account.</i>
                    <i>Checks/Withdrawals are subject to our Check Clearing Policy.  No checks of any kind are cashed for Non-customers.</i>
                </div> 
				

			</div>
        </div>
      </div>


	  <div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingFour">
		  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
			Business Not-for-Profit Checking
		  </button>
		</h2>
		<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
		  <div class="accordion-body"> 

			<p style="color:black; font-weight:bold">Opening Eligibility: To open this account, you must be 18 years of age and deposit at least $100.00.</p>
			<div>
				<table class="table table-hover">
					<thead>
					  <tr>
						<th scope="col" colspan="2">Charges</th>
						</tr>
					</thead>
					<tbody>
					  <tr>
						<td>
							<div>
								<p>
									Monthly Maintenance Fee
								</p>
								
							</div>
						</td>
						<td>$2500</td>
					  </tr>

					

					</tbody>
				</table>
			</div>

			<div>
				<p><a href="#">See disclosure for details.</a></p>
				<i>If you close your account within three (3) months from the opening date, an Early Closing fee of $10.00 will be assessed.</i>
				<i>Please refer to our Customer Accommodation Service Fee Schedule for a listing of other fees that may apply to your account.</i>
				<i>Checks/Withdrawals are subject to our Check Clearing Policy.  No checks of any kind are cashed for Non-customers.</i>
			</div>
		  </div>
	  </div>
	</div>


	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingFive">
		  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
			Business Real Estate Escrow Money Market
		  </button>
		</h2>
		<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
		  <div class="accordion-body">

			<p style="color:black; font-weight:bold;">Opening Eligibility: To open this account, you must be 18 years of age and deposit at least $1,000.00.</p>
			<div>
				<table class="table table-hover">
					<thead>
					  <tr>
						<th scope="col" colspan="2">Charges</th>
						</tr>
					</thead>
					<tbody>
					  <tr>
						<td>
							<div>
								<p>
									Monthly Maintenance Fee
								</p>
								<p>If Minimum Daily Balance is less than $1,000.00</p>
							</div>
						</td>
						<td>$15.00</td>
					  </tr>

					  <tr>
				  
						<td>Checks/ Items Deposited Over 40 (each)</td>
						<td>$0.25</td>
					  </tr>
					  
					  <tr>
						<td>Third Party Withdrawals Over 6 (each)</td>
						<td>$15.00</td>
					  </tr>

					  <tr>
						<td>Negative Collected Balance Usage Fee</td>
						<td>Prime Rate Plus 2%</td>
					  </tr>

					</tbody>
				</table>
			</div>

			<div>
				
				<p><a href="#">See disclosure for details.</a></p>
				<i>If you close your account within three (3) months from the opening date, an Early Closing fee of $10.00 will be assessed.</i>
				<i>Please refer to our Customer Accommodation Service Fee Schedule for a listing of other fees that may apply to your account.</i>
				<i>Checks/Withdrawals are subject to our Check Clearing Policy.  No checks of any kind are cashed for Non-customers.</i>
			</div>

		  </div>
	  </div>
	</div>


    <div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingSix">
		  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
			Business Money Market
		  </button>
		</h2>
		<div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
		  <div class="accordion-body">
            
            <p>To make the most of your investment, a Money Market account is a good "savings" choice. This account offers tiered interest rates that allows you to earn more as you save more.</p>

			<p style="color:black; font-weight:bold;">Opening Eligibility: To open this account, you must be 18 years of age and deposit at least $2,500.00.</p>
			<div>
				<table class="table table-hover">
					<thead>
					  <tr>
						<th scope="col" colspan="2">Charges</th>
						</tr>
					</thead>
					<tbody>
					  <tr>
						<td>
							<div>
								<p>
									Monthly Maintenance Fee
								</p>
								<p>If Minimum Daily Balance is less than $2,500.00</p>
							</div>
						</td>
						<td>$15.00</td>
					  </tr>

					  <tr>
				  
						<td>Checks/ Items Deposited Over 40 (each)</td>
						<td>$0.25</td>
					  </tr>
					  
					  <tr>
						<td>Third Party Withdrawals Over 6 (each)</td>
						<td>$15.00</td>
					  </tr>

                      <tr>
						<td><p>Under transaction limit fee (each)</p>
                        <p>Each Third Party Withdrawal must be for $500.00 or more</p></td>
						<td>$15.00</td>
					  </tr>

					  <tr>
						<td>Negative Collected Balance Usage Fee</td>
						<td>Prime Rate Plus 2%</td>
					  </tr>

					</tbody>
				</table>
			</div>

			<div>
				
				<p><a href="#">See disclosure for details.</a></p>
				<i>If you close your account within three (3) months from the opening date, an Early Closing fee of $10.00 will be assessed.</i>
				<i>Please refer to our Customer Accommodation Service Fee Schedule for a listing of other fees that may apply to your account.</i>
				<i>Checks/Withdrawals are subject to our Check Clearing Policy.  No checks of any kind are cashed for Non-customers.</i>
			</div>

		  </div>
	  </div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingSeven">
		  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
			Interest on Lawyer Trust Account (IOLTA)
		  </button>
		</h2>
		<div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
		  <div class="accordion-body">

			<p style="color:black; font-weight:bold;">Opening Eligibility: To open this account, you must be 18 years of age and deposit at least $1,500.00.</p>

            <p>This is a Variable Rate account, we may change the Interest Rate at any time. If your daily Ledger Balance is under $2,500.00, no interest will be accrued for that day. If you close your account before the accrued interest has been credited, you will not receive the accrued interest.</p>
			<div>
				<table class="table table-hover">
					<thead>
					  <tr>
						<th scope="col" colspan="2">Charges</th>
						</tr>
					</thead>
					<tbody>
					  <tr>
						<td>
							<div>
								<p>
									Monthly Maintenance Fee
								</p>
								</div>
						</td>
						<td>$5.00</td>
					  </tr>

					  <tr>
				  
						<td>Deposits (each)</td>
						<td>$0.25</td>
					  </tr>
					  
					  <tr>
						<td>Checks/ Items Deposited</td>
						<td>$0.15</td>
					  </tr>

					  <tr>
						<td>Cash Deposited per $100.00</td>
						<td>$0.10</td>
					  </tr>
                      <tr>
						<td>Checks Paid (each)</td>
						<td>$0.15</td>
					  </tr>
                      <tr>
						<td>Negative Collected Balance Usage Fee</td>
						<td>Prime Rate Plus 2%</td>
					  </tr>
					</tbody>
				</table>
			</div>

			<div>
				<i style="font-weight:bold;">Service fees are never charged to the account. It's offset by the account's earned interest. If there is not enough earned interest to offset the service fee, the unsettled fee is waived.</i>
				<p><a href="#">See disclosure for details.</a></p>
				<i>If you close your account within three (3) months from the opening date, an Early Closing fee of $10.00 will be assessed.</i>
				<i>Please refer to our Customer Accommodation Service Fee Schedule for a listing of other fees that may apply to your account.</i>
				<i>Checks/Withdrawals are subject to our Check Clearing Policy.  No checks of any kind are cashed for Non-customers.</i>
			</div>

		  </div>
	  </div>
	</div>
	<div style="padding:20px;"></div>
</div>

{% endblock content %}