{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}






  
	<div class="hero overlay inner-page">
<div data-aos="fade-up">
        <img src="{% static 'images/ContentImageHandler.ashx-28.jpg' %}" alt="Image">
    </div>
		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5">
				<div class="col-lg-6 text-center pe-lg-5">
					<h1 class="heading text-white mb-3" data-aos="fade-up">Business and
                        Real Estate Loans</h1>
				</div>
			</div>
		</div>
	</div>

    
    <div style="padding:20px;"></div>
    <div class="container">
        <p>For many companies, access to credit is the single most important factor in establishing a banking relationship. No matter what their size, businesses depend on outside sources of capital to operate, develop and expand. CFD understands the importance of providing a speedy and reasonable response to your credit needs. Our wide range of lending products, coupled with fifty years of experience working with family owned and operated businesses, means that we can almost always find the right loan package for you. A partial list of our loan types is listed below.</p>
        
        <h2 class="heading text-primary">Loans Types</h2>
        <ul>
            <li>Business Loans</li>
            <li>Real Estate Loans on Multifamily, Office, Retail, Industrial and Mixed Use Properties</li>
            <li>Construction Loans</li>
        </ul>
        <div style="padding:20px;"></div>
  </div>


{% endblock content %}