{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}






  
	<div class="hero overlay inner-page">

        <div data-aos="fade-up">
        <img src="{% static 'images/ContentImageHandler.ashx-6.jpg' %}" alt="Image">
    </div>

		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5">
				<div class="col-lg-6 text-center pe-lg-5">
					<h1 class="heading text-white mb-3" data-aos="fade-up">Manage My Cards</h1>
				</div>
			</div>
		</div>
	</div>

    
    <div style="padding:20px;"></div>
    <div class="container">

      <div style="padding:20px;"></div>

        <div style="text-align:center">
            <h2 class="heading text-primary">Protect the Cards in Your Wallet with the Phone in Your Pocketx</h2>            
            <div class="" data-aos="fade-up">
                <div>
                    <div style="text-align:center">
                        <a href="https://www.onlinebanktours.com/external/v5/player.php?key=314d9a31a8aa6e906e8421863da0b05574abb24c&loop=true" class="text-white glightbox">
                            <img src="{% static 'images/96276.png' %}" class="img-fluid rounded
                            ">
                        </a>
                    </div>
                </div>
            </div>

            <h2 class="heading text-primary">Safe, Secure Card Usage</h2>  

        </div>


        <div>
            <h4>"Manage My Cards" is easy to use and fully integrated into the CFD Mobile app which can be downloaded from Google Play or iTunes App Store.</h4>
            <h4>Usage Alerts and Controls for Consumer Banking Customers</h4>
            <p>There are a number of features available to monitor and control card usage. Regulate debit card transactions by amount, type, dollar limit, merchant and even geographical location for in-store purchases, e-commerce transactions, mail/phone orders and ATM transactions.</p>

            <h4 class="heading text-primary" style="text-decoration:underline;">Turning a Debit Card On/Off</h4>

            <p>Switching a card on/off is almost instant. When turned “on", transactions are permitted based on control settings. When “off", no purchases or withdrawals are approved until the card is turned back “on". This feature can disable a lost or stolen card or to control transactions on a regular basis. Exceptions for blocking are pending and recurring transaction</p>

            <p class="heading text-primary">Instructions for turning debit cards on/off:</p>
            <ol>
                <li>Log into the CFD Mobile app and tap "Manage my cards" under "Quick Links".</li>
                <li>Under the "Block Card" section, touch the toggle. This button will move to the right and activate the blocking feature. </li>
                <li>If a blocked debit card is needed, touch the toggle button again to deactivate. The card can now be used. </li>
                <li>Complete the transaction and repeat step #3 above to immediately reactivate the debit card block.</li>
            </ol>
            <img src="{% static 'images/ContentImageHandler.ashx-7.jpeg' %}" width="385" height="830">

            <h4 class="heading text-primary" style="text-decoration:underline;">Transaction Limits Alerts and Controls</h4>
            <p>There are three ways to control transactions: amount, location and merchant type.</p>

            <br>
            <p class="heading text-primary">Instructions for blocking by amount:</p>
            <ol>
                <li>Log into the CFD Mobile app and tap "Manage my cards" under "Quick Links".</li>
                <li>Select "Set Card Limits". Note: blocked debit cards need to be temporarily unblocked to set an alert or the option to set card limits will not appear.</li>
                <li>Select "Transaction Amount Limit".</li>
                <img src="{% static 'images/ContentImageHandler.ashx-7.jpeg' %}" width="385" height="830">
                <li>Slide the toggle to the right and touch "Enter an Amount" to type in the limit.</li>
                <li>Click "Save" button which has now turned blue.</li>
                <li>The screen will return to the Card Limits page.</li>
                <div>
                    <img src="{% static 'images/ContentImageHandler.ashx-12.jpeg' %}" width="385" height="830">
                    <img src="{% static 'images/ContentImageHandler.ashx-13.jpeg' %}" width="385" height="830">
                </div>
            </ol>

            <br>
            <p class="heading text-primary">Instructions for blocking by location:</p>
            <ol>
                <li>Log into the CFD Mobile app and tap "Manage my cards" under "Quick Links".</li>
                <li>Select "Set Card Limits". Note: blocked debit cards need to be temporarily unblocked to set an alert or the option to set card limits will not appear.</li>
                <li>The location limit defaults is set to off. Tap this section to activate the drop down menu and select the desired level of control.</li>
                <img src="{% static 'images/ContentImageHandler.ashx-7.jpeg' %}" width="385" height="830">
                <img src="{% static 'images/ContentImageHandler.ashx-15.jpeg' %}" width="385" height="830">
                <li>"Block International Transactions" will stop all transactions occurring from outside the United States.</li>
                <li>"Block Transactions outside a selected area" will allow for setting a range:
                    <ol type="a">
                        <li> Select "Block Transactions outside a selected area", then "Set Area".</li>
                        <li>Enter the address for the range starting point in the search bar. Select the GPS enabled address that auto populates.</li>
                        <li>Set the transaction radius by sliding and slide left or right to adjust the range.</li>
                        <li>Click "Set Area" when finished.</li>
                        <li>Click "Save".</li>
                    </ol>
                </li>
                <div>
                    <img src="{% static 'images/ContentImageHandler.ashx-16.jpeg' %}" width="385" height="830">
                    <img src="{% static 'images/ContentImageHandler.ashx-17.jpeg' %}" width="385" height="830">
                    <img src="{% static 'images/ContentImageHandler.ashx-18.jpeg' %}" width="385" height="830">
                </div>
            </ol>


            <br>
            <p class="heading text-primary">Instructions for blocking by merchant:</p>
            <p>This feature is for point-of-sale only and does not block online transactions. To control online activity, choose the highest level of protection by blocking the debit card.</p>
            <ol>
                <li>Log into the CFD Mobile app and tap "Manage my cards" under "Quick Links".</li>
                <li>Select "Set Card Limits". Note: blocked debit cards need to be temporarily unblocked to set an alert or the option to set card limits will not appear.</li>
                <li>Choose "Merchant Limit".</li>
                <img src="{% static 'images/ContentImageHandler.ashx-7.jpeg' %}" width="385" height="830">
                <img src="{% static 'images/ContentImageHandler.ashx-19.jpeg' %}" width="385" height="830">
                <li>Tap the category to be blocked and a list of transaction types will display for review. Touch the toggle on the upper right hand side of the screen to activate.</li>
                <li> Select any additional categories and repeat step 3 and 4 above.</li>
                <li>Click "Save".</li>
                <div>
                    <img src="{% static 'images/ContentImageHandler.ashx-20.jpeg' %}" width="385" height="830">
                </div>
            </ol>

            
            <div style="text-align:center">
                <h3 class="heading text-primary">For questions or more information about managing your cards,<br>
                    please contact a Personal Banking Officer at (773) 267-7300.</h3> 
            </div>
            

            <div style="padding:20px;">



        </div>



  </div>
  <div style="padding:20px;"></div>


{% endblock content %}