{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}






  
	<div class="hero overlay inner-page">

         <div data-aos="fade-up">
        <img src="{% static 'images/ContentImageHandler.ashx-50.jpg' %}" alt="Image">
    </div>
		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5" >
				<div class="col-lg-6 text-center pe-lg-5" >
					<h1 class="heading text-white mb-3" data-aos="fade-up" >Disclosures</h1>
				</div>
			</div>
		</div>
	</div>

   
    <div style="padding:20px;"></div>
    <div class="container">
        <h2 class="heading text-primary">Certificates of Deposit</h2>
       <a href="{% url '404' %}">31 Days Certificate of Deposit </a> <br>
       <a href="{% url '404' %}">91 Days Certificate of Deposit </a><br>
       <a href="{% url '404' %}"> 182 Days Certificate of Deposit</a><br>
       <a href="{% url '404' %}">1 Year Certificate of Deposit </a><br>
       <a href="{% url '404' %}"> 2 1/2 Years Certificate of Deposit</a><br>
       <a href="{% url '404' %}"> 5 Years Certificate of Deposit</a><br>
       

        <div style="padding:10px;"></div>
        <h2 class="heading text-primary">IRA</h2>
        <a href="{% url '404' %}"> 12 Months IRA</a><br>
        <a href="{% url '404' %}"> 18 Months - Floating Rate IRA</a><br>
        <a href="{% url '404' %}">18 Months IRA </a><br>
        <a href="{% url '404' %}"> 30 Months IRA</a><br>
        

        <div style="padding:10px;"></div>
        <h2 class="heading text-primary">Account and Service Disclosures</h2>
        <a href="{% url '404' %}"> Business Interest Checking</a><br>
        <a href="{% url '404' %}"> Business Money Market</a><br>
        <a href="{% url '404' %}">Business Not For Profit Checking </a><br>
        <a href="{% url '404' %}"> Business Real Estate Escrow Money Market</a><br>
        <a href="{% url '404' %}">Business Statement Savings </a><br>
        <a href="{% url '404' %}">Commercial Analysis Checking </a><br>
        <a href="{% url '404' %}">Health Savings Account </a><br>
        <a href="{% url '404' %}"> Interest on Lawyer Trust Account (IOLTA)</a><br>
        <a href="{% url '404' %}"> Personal Checking</a><br>
        <a href="{% url '404' %}"> Personal Interest Checking</a><br>
        <a href="{% url '404' %}">Personal Money Market </a><br>
        <a href="{% url '404' %}"> Personal Statement Savings
</a><br>
        <a href="{% url '404' %}"> Relationship Interest Checking</a><br>
        <a href="{% url '404' %}">Senior Interest Checking </a><br>
        <a href="{% url '404' %}"> Senior Statement Savings</a><br>
        <a href="{% url '404' %}"> Small Business Checking</a><br>
        <a href="{% url '404' %}"> Young Savers Statement Savings</a><br>
        <a href="{% url '404' %}"> Change of Address Mail in Form</a><br>
        <a href="{% url '404' %}"> Check Clearing Policy</a><br>
        <a href="{% url '404' %}"> Customer Accommodation Services Fee Schedule</a><br>
        <a href="{% url '404' %}"> Deposit Accounts Rules and Regulations</a><br>
        <a href="{% url '404' %}">Electronic Business Banking Services Disclosure Agreement </a><br>
        <a href="{% url '404' %}"> Electronic Funds Transfer Disclosure</a><br>
        <a href="{% url '404' %}"> MasterCard Cross-Border Fee Notice</a><br>
        <a href="{% url '404' %}"> Mobile Deposit Disclosure</a><br>
        <a href="{% url '404' %}">Privacy Policy </a><br>
        <a href="{% url '404' %}">Safe Deposit Box Annual Fees </a><br>
        <a href="{% url '404' %}"> Savings Accounts Funds Availability Policy</a><br>
        <a href="{% url '404' %}">Telephone Banking Disclosure </a><br>
        <div style="padding:10px;"></div>
  </div>


{% endblock content %}