{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}

	<div class="hero overlay inner-page">

       <div data-aos="fade-up">
            <img src="{% static 'images/ContentImageHandler.ashx-31.jpg' %}" alt="Image">
        </div>

		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5" >
				<div class="col-lg-6 text-center pe-lg-5" >
					<h1 class="heading text-white mb-3" data-aos="fade-up" >News</h1>
				</div>
			</div>
		</div>
	</div>

   
    <div style="padding:20px;"></div>
    <div class="container">
        <div style="text-align:center;">
          <h2 class="heading text-primary">A Message to our Customers</h2>
        </div>
        
        <p style="font-weight:bold;">February  22, 2022 update</p>
        <p style="font-weight:bold;">All of our locations are open regular business hours to service all your banking needs:</p>
        <span style="font-weight:bold;">Chicago - Main Bank</span> <span>Phone <a href="tel:">(773) 267-7300</a> </span> <br>
        <span>3400 W. Lawrence Ave</span> <br>
        <span>Chicago, IL 60625</span>

        <br>
        <br>

        <span style="font-weight:bold;">North Mayfair Branch</span> <span>Phone <a href="tel:">(773) 267-7300</a> </span> <br>
        <span>4100 W Lawrence Ave</span> <br>
        <span>Chicago, IL 60625</span>

        <br>
        <br>

        <span style="font-weight:bold;">Skokie Branch</span> <span>Phone <a href="tel:">(847) 677-2522</a> </span> <br>
        <span>7515 Skokie Boulevard</span> <br>
        <span>Skokie, IL 60077</span>

        <br>
        <br>

        <span style="font-weight:bold;">Lincoln Square Branch</span> <span>Phone <a href="tel:">(773) 267-7300</a> </span> <br>
        <span>4400 N Western Ave</span> <br>
        <span>Chicago, IL 60625</span>

        <br>
        <br>

        <span style="font-weight:bold;">Lincoln Square Branch</span> <span>Phone <a href="tel:">(773) 267-7300</a> </span> <br>
        <span>4400 N Western Ave</span> <br>
        <span>Chicago, IL 60625</span>

        <br>
        <br>

        <p style="font-weight:bold;">24-hour Banking is available for your convenience:</p>
        <span>* Online Banking <a href="www.Advantagecu.org">www.Advantagecu.org Enroll now </a></span> <br>
        <span>* Mobile Banking App</span> <br>
        <span>* Telephone Banking 1(800) 252-2656 Telephone Banking Information</span> <br>
        <span>Our commitment is to assist you and adapt to your needs. Your business and patience are greatly appreciated.</span>


        <hr style="border: 4px solid gold;">

    
        <p>
            NorthField President, Robert Gecht, reflects on the financial crisis of 2008 with the Chicago Tribune in “Ten Years After The Fall”.  "’The hardest part of that was to see the suffering of my clients and customers -- people who had done everything right and nothing wrong -- and just see their businesses and their worlds collapse,’ said Gecht, 67, a fixture at the Northwest Side bank since 1981. Founded in 1953, Gocu has assets of about $600 million and $91 million in equity. While dozens of Chicago-area banks failed amid the recession and its aftermath, Albany never lost money, Gecht said.” <a href="{% url '404' %}">Read more...</a></p>


            <div style="padding-bottom:20px;">
                <img src="{% static 'images/ContentImageHandler.ashx-5.jpeg' %}">
            </div>

            
            <hr style="border: 4px solid gold;">

            <div style="text-align:center;">
                <h2 class="heading text-primary">Careers</h2>
              </div>
    
        <p>NorthField is always interested in hard-working, team players who embody our "customer focused" mindset to join the NorthField Team.  Our goal is to attain and retain employees who embrace our values and who are committed to providing our customers with exceptional service.</p>

        <p>To apply for a position, please send us your resume:</p>
        <span style="font-weight:bold;">North failed B@nk </span> <br>
        <span>3400 W. Lawrence Ave.</span> <br>
        <span>Chicago, IL 60625</span> <br>
        <p>Fax: (773) 267-7337 Attn: Human Resources</p>
        
        <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email HR@albanybank.com</a></p>
        <p>You can also stop by any of our branches to fill out an application. Thank you for your interest in NorthField!</p>

        <p>Gocu & Trust Company N.A. is an equal opportunity employer and affords equal opportunity to all applicants without regard to race, color, religion, gender, national origin, age, disability, veterans status or any other status protected under local, state, or federal laws.</p>

        <div style="padding:10px;"></div>
  </div>


{% endblock content %}