{% extends 'users/404.html' %}
{% load static %}
{% block content %}




<main>
<div class="container">

    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
      <h1>404</h1>
      <h2>The resource requested could not be found on this server!</h2>
      <a class="btn" href="{% url 'home' %}">Back to home</a>
      <img src="{% static 'images/not-found.svg' %}" class="img-fluid py-5" alt="Page Not Found">
    </section>

  </div>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


{% endblock content %}