{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}






  
	<div class="hero overlay inner-page">
		<div data-aos="fade-up">
				<img src="{% static 'images/ContentImageHandler.ashx-25.jpg' %}" alt="Image">
			</div>

		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5">
				<div class="col-lg-6 text-center pe-lg-5">
					<h1 class="heading text-white mb-3" data-aos="fade-up">Online Education</h1>
				</div>
			</div>
		</div>
	</div>

    

    <div style="padding:20px;"></div>


    <div class="section sec-services">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=ba67171cd0b5018b972d163fd916a4ab2d3cb645&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/21907.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=49738cc24dba6b7d9239ab95882accc4794dcc1b&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/21897.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=cc238315afff9606321348d57df7828d2570d984&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/21922.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=4b43bb33e668af8311047d5627c906760f965a06&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/193306.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>


                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=314d9a31a8aa6e906e8421863da0b05574abb24c&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/96276.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>


                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=6a78dfb943beb60f332edc9ba559646f54cda587&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/21891.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>


                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=4deace9aa41233d13a4390a81d25e2889de46b42&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/21881.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>


                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=f8a4ef6c01ed992a2438bb7f6a579e4ed87cb783&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/195072.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=1707483c2838ade7ff0d0712c59738387ff406b9&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/21872.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=82fdf2e9bfbc9f417cb66ce2af73636c9fb4bbf4&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/195047.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=76d3871a74bc2c1e0036ae6c3a4e1b9065c34827&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/195067.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=0d93ee04e59d8a87fd166ee348d1a9c92354bb43&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/195057.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=968cdf6676d18cce6b9c2af6b168112c54bd8cec&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/25706.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=746b46b651f91c5bb5ec358b955fcacdad352309&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/25716.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>


                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <div>
						<div>
							<a href="http://www.onlinebanktours.com/external/v5/player.php?key=74b505b7618f1420da94acc2e8027d329026efeb&loop=true" class="text-white glightbox">
                                <img src="{% static 'images/21947.png' %}" class="img-fluid rounded
                                ">
                            </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


        <div style="padding:20px;"></div>
</div>


{% endblock content %}