{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}






  
	<div class="hero overlay inner-page">
        <div data-aos="fade-up">
                <img src="{% static 'images/ContentImageHandler.ashx-24.jpg' %}" alt="Image">
            </div>

		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5">
				<div class="col-lg-6 text-center pe-lg-5">
					<h1 class="heading text-white mb-3" data-aos="fade-up">Personal Loans</h1>
				</div>
			</div>
		</div>
	</div>

    
    <div style="padding:20px;"></div>
    <div class="container">
        <h2 class="heading text-primary">Home Equity Lines of Credit</h2>
        <p>A home equity line of credit (HELOC) lets you borrow against available equity with your home as collateral.</p>
        <p>For more information, call (773) 267-7300.</p>

        <div style="text-align:center"> <p style="font-weight:bold;">NMLS Notice</p></div>
        <div style="padding:10px;"></div>
        <p>In accordance with the requirements of the Notice and Secure and Fair Enforcement for Mortgage Licensing Act of 2008 (The SAFE Act) the following is provided for your information</p>

        <ul>
            <li> If you apply for any mortgage loan with Coast Fund B@nk & Trust Co., N.A. the Mortgage Loan Officer (MLO) will provide you with his Mortgage Loan Officer ID, as registered with the Nationwide Mortgage Licensing System and Registry (NMLS).</li>
            <li>As a customer you have the right to log into NMLS sites, Consumer Portal to determine if the MLO you are working with has ever had any complaints of judgments, placed against him/her for any financial service related matters.</li>
            <li>You may obtain this information by going to the NMLS consumer/compliance Access website: www.nmlsconsumeraccess.org and follow the instructions. You will need the MLO Name and MLO ID if you are seeking information.</li>
        </ul>
        <p>Coast Fund B@nk & Trust Co., N.A. number: 1197817</p>
        <p>Patrick Mulcahy MLO Number: 876522</p>
        <p>Galina Veksler NMLS Number: 524405</p>
  </div>


{% endblock content %}