{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}






  
	<div class="hero overlay inner-page">

        <div data-aos="fade-up">
        <img src="{% static 'images/ContentImageHandler.ashx-49.jpg' %}" alt="Image">
    </div>

		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5">
				<div class="col-lg-6 text-center pe-lg-5">
					<h1 class="heading text-white mb-3" data-aos="fade-up">Privacy Policy</h1>
				</div>
			</div>
		</div>
	</div>

    
    <div style="padding:20px;"></div>
    <div class="container">

      <div style="padding:20px;"></div>

      
        <p>Gocu recognizes how important personal privacy is to our customers. We want you to be aware of the principles that we follow when collecting, maintaining, using and safeguarding information about your relationship with us.</p>

        <a href="{% url '404' %}">Print Privacy Policy (PDF)</a>

        <div style="padding:20px;"></div>
        
        <div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" style="padding:40px">Facts</th>
                    <th style="background-color:#005daa; color:white; text-align:center">WHAT DOES EASTERN B@nk & TRUST COMPANY, N.A.
                       <br> DO WITH YOUR PERSONAL INFORMATION?</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding:70px">Why?</td>
                    <td style="text-align:center; padding:30px;">Financial companies choose how they share your personal information. Federal law gives consumers the right to limit some but not all sharing. Federal law also requires us to tell you how we collect, share, and protect your personal information. Please read this notice carefully to understand what we do.</td>
                  </tr>

                  <tr>
                    <td style="padding:70px">What?</td>
                    <td style="text-align:center; padding:30px;">
                        <p>
                            The types of personal information we collect and share depend on the product or service you have with us. This information can include:
                        </p>
                        <ul>
                            <li>Social Security number and Income</li>
                            <li>Account Balances and Payment History</li>
                            <li>Credit History and Wire Transfer Instructions</li>
                        </ul>

                        <p>When you are no longer our customer, we continue to share your information as described in this notice.</p>
                    </td>
                  </tr>

                  <tr>
                    <td style="padding:70px">How?</td>
                    <td style="text-align:center; padding:30px;">	
                        All financial companies need to share customers' personal information to run their everyday business. In the section below, we list the reasons financial companies can share their customers' personal information; the reasons Gocu and Trust Company, N.A. chooses to share; and whether you can limit this sharing.</td>
                  </tr>
                </tbody>
            </table>

            <div style="padding:10px"></div>

            <table class="table table-hover" style="background-color:#E3DAC9;">
                <thead style="background-color:white; ">
                  <tr >
                    <th scope="col" style="padding:50px"> Reasons we can share your personal information</th>
                    <th style="padding:50px">Does Gocu and Trust Company, N.A. share?</th>
                    <th style="padding:50px">Can you limit this sharing?</th>
                 </tr>
                </thead>
                <tbody style="border:2px solid white">
                    <tr>
                        <td> <p style="font-weight:bold">For our everyday business purposes -</p>
                        <p>such as to process your transactions, maintain your account(s), respond to court orders and legal investigations, or report to credit bureaus</p> </td>
                    <td>yes</td>
                    <td>No</td>
                </tr>

                <tr>
                    <td> <p style="font-weight:bold">For our marketing purposes -</p>
                        <p>to offer our products and services to you</p> </td>
                    <td>yes</td>
                    <td>No</td>
                </tr>

                <tr>
                    <td> <p style="font-weight:bold">For joint marketing with other financial companies</p></td>
                    <td>yes</td>
                    <td>We don't share</td>
                </tr>

                <tr>
                    <td> <p style="font-weight:bold">For our affiliates' everyday business purposes -</p>
                    <p>information about your transactions and experiences</p></td>
                    <td>No</td>
                    <td>We don't share</td>
                </tr>

                <tr>
                    <td> <p style="font-weight:bold">For our affiliates' everyday business purposes -</p>
                    <p>information about your creditworthiness</p></td>
                    <td>No</td>
                    <td>We don't share</td>
                </tr>


                <tr>
                    <td> <p style="font-weight:bold">For our affiliates to market to you</p></td>
                    <td>No</td>
                    <td>We don't share</td>
                </tr>

                <tr>
                    <td> <p style="font-weight:bold">For nonaffiliates to market to you</p></td>
                    <td>No</td>
                    <td>We don't share</td>
                </tr>

                <tr>
                    <td> <p style="font-weight:bold">Questions?</p></td>
                    <td> <a href="">Call (773) 267-7300 or go to www.albanybank.com </a> </td>
                </tr>
                  
                 </tbody>
            </table>


            <div style="padding:20px"></div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" colspan="2" style="background-color:#005daa; color:white;">Who We Are</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Who is providing this notice?</td>
                    <td>Gocu & Trust Company, N.A.</td>
                  </tr>
                </tbody>
            </table>

            
            <div style="padding:20px"></div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" colspan="2" style="background-color:#005daa; color:white;">What We Do</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>How does Gocu and Trust Company, N.A. protect my personal information?</td>
                    <td>To protect your personal information from unauthorized access and use, we use security measures that comply with federal law. These measures include computer safeguards and secured files and buildings.</td>
                  </tr>

                  <tr>
                    <td>How does Gocu and Trust Company, N.A. collect my personal information?</td>
                    <td>We collect your personal information, for example, when you
                        <ul>
                            <li>Open an account</li>
                            <li>Apply for a loan</li>
                            <li>Make deposits or withdrawals from your account</li>
                            <li>Pay your bills</li>
                            <li>Use your debit card</li>
                        </ul>
                        <p>We also collect your personal information from others, such as credit bureaus, affiliates, or other companies.</p>
                    </td>
                  </tr>

                  <tr>
                    <td>Why can't I limit all sharing?</td>
                    <td> <p>Federal law gives you the right to limit only</p>
                        
                        <ul>
                        <li>Open an account</li>
                        <li>Apply for a loan</li>
                        <li>Make deposits or withdrawals from your account</li>
                        <li>Pay your bills</li>
                        <li>Use your debit card</li>
                    </ul>
                <p>State laws and individual companies may give you additional rights to limit sharing.</p></td>
                  </tr>
                </tbody>
            </table>


            <div style="padding:20px"></div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" colspan="2" style="background-color:#005daa; color:white;">
                        Definitions</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Affiliates</td>
                    <td>Companies related by common ownership or control. They can be financial and non-financial companies.

                        <ul>
                            <li>Gocu and Trust Company, N.A. has no affiliates.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                    <td>Nonaffiliates</td>
                    <td>Companies not related by common ownership or control. They can be financial and non-financial companies.

                        <ul>
                            <li>Gocu and Trust Company, N.A. does not share with nonaffiliates so they can market to you.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                    <td>Joint Marketing</td>
                    <td>	
                        A formal agreement between nonaffiliated financial companies that together market financial products or services to you.

                        <ul>
                            <li>Gocu and Trust Company, N.A. doesn't jointly market.</li>
                        </ul>
                    </td>
                  </tr>
                </tbody>
            </table>


        </div>
  </div>
  <div style="padding:20px;"></div>


{% endblock content %}