{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}

	<div class="hero overlay inner-page">

    <div data-aos="fade-up">
      <img src="{% static 'images/ContentImageHandler.ashx-32.jpg' %}" alt="Image">
    </div>


		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5">
				<div class="col-lg-6 text-center pe-lg-5">
					<h1 class="heading text-white mb-3" data-aos="fade-up">Intrest Rates</h1>
									</div>
			</div>
		</div>
	</div>


    <div style="padding-top:40px; padding-left:20px">
        <p>Find out how we calculate the interest on the various types of accounts offered at CFD. Please select from the types of accounts listed below.</p>
    </div>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Checking Account Rates
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

                <p style="color:black; font-weight:bold;">Business Interest Checking</p>
                <div>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Daily Minimum Ledger Balance To Earn APY</th>
                            <th>Interest Rate</th>
                            <th>Annual Percentage Yield</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                                <div>
                                    <p>
                                        $0.00 to $99,999.99
                                    </p>
                                </div>
                            </td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>

                          <tr>
                      
                            <td>$100,000.00 or more</td>
                            <td>0.06%</td>
                            <td>0.06%</td>
                          </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <a>*See disclosure for details..</a>
                    <p>We use the Daily Balance Method to calculate the interest on your account. This method applies a daily periodic rate to the Ledger Balance in your account each day. Interest is accrued daily, compounded monthly and credited to your account on your monthly statement date. You must maintain the Daily Minimum Ledger Balance in the account each day to obtain the disclosed Annual Percentage Yield (APY). At our discretion, we may change the interest rates at any time. Penalty will be assessed for early closing. APY is accurate as of May 3, 2021. Fees could reduce the earnings on the account.</p>
                </div>

                <p style="color:black; font-weight:bold; padding-top:20px;">Personal Interest Checking</p>
                <div>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th> </th>
                            <th scope="col">Daily Minimum Ledger Balance To Earn APY</th>
                            <th>Interest Rate</th>
                            <th>Annual Percentage Yield</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td> Standard Interest </td>

                            <td>
                                <div>
                                    <p>
                                        $0.00 or more
                                    </p>
                                </div>
                            </td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>

                          <tr>
                            <td> *Bonus Interest </td>
                             <td>$100,000.00 or more</td>
                            <td>0.06%</td>
                            <td>0.06%</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a>*See disclosure for details..</a>
                    <p>We use the Daily Balance Method to calculate the interest on your account. This method applies a daily periodic rate to the Ledger Balance in your account each day. Interest is accrued daily, compounded monthly and credited to your account on your monthly statement date. You must maintain the Daily Minimum Ledger Balance in the account each day to obtain the disclosed Annual Percentage Yield (APY). At our discretion, we may change the interest rates at any time. Penalty will be assessed for early closing. APY is accurate as of May 3, 2021. Fees could reduce the earnings on the account.</p>
                </div>

                <p style="color:black; font-weight:bold; padding-top:20px;">Relationship Interest Checking</p>
                <div>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th> </th>
                            <th scope="col">Daily Minimum Ledger Balance To Earn APY</th>
                            <th>Interest Rate</th>
                            <th>Annual Percentage Yield</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td> Standard Interest </td>

                            <td>
                                <div>
                                    <p>$0.00 to $25,000.00</p>

                                    <p>$25,000.01 to $100,000.00</p>
                                        
                                    <p> $100,000.01 or more </p>
                                </div>
                            </td>
                            <td>
                                <p> 0.05%</p>

                                    <p> 0.05%</p>
                                
                                        <p> 0.075%</p>
                            </td>
                            <td><p> 0.05%</p>

                                <p> 0.05%</p>
                            
                                    <p> 0.075%</p></td>
                          </tr>

                          <tr>
                            <td> *Bonus Interest </td>
                             <td><p>$0.00 to $25,000.00</p>
                                <p>$25,000.01 or more</p>
                            </td>
                            <td><p>0.15%</p>
                                <p>0.075%</p></td>
                            <td><p>0.15%</p>
                                <p>0.075%</p></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a>*See disclosure for details..</a>
                    <p>We use the Daily Balance Method to calculate the interest on your account. This method applies a daily periodic rate to the Ledger Balance in your account each day. Interest is accrued daily, compounded monthly and credited to your account on your monthly statement date. You must maintain the Daily Minimum Ledger Balance in the account each day to obtain the disclosed Annual Percentage Yield (APY). At our discretion, we may change the interest rates at any time. Penalty will be assessed for early closing. APY is accurate as of May 3, 2021. Fees could reduce the earnings on the account.</p>
                </div>


                <p style="color:black; font-weight:bold; padding-top:20px;">Senior Interest Accounts</p>
                <div>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Daily Minimum Ledger Balance To Earn APY</th>
                            <th>Interest Rate</th>
                            <th>Annual Percentage Yield</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                <div>
                                    <p>
                                        $0.00 to $4,999.99
                                    </p>
                                </div>
                            </td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>

                          <tr>
                            <td>$5,000.00 to $24,999.99</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>
                          <td>$25,000.00 or more</td>
                          <td>0.075%</td>
                          <td>0.075%</td>
                          <tr>

                          </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a>*See disclosure for details..</a>
                    <p>We use the Daily Balance Method to calculate the interest on your account. This method applies a daily periodic rate to the Ledger Balance in your account each day. Interest is accrued daily, compounded monthly and credited to your account on your monthly statement date. You must maintain the Daily Minimum Ledger Balance in the account each day to obtain the disclosed Annual Percentage Yield (APY). At our discretion, we may change the interest rates at any time. Penalty will be assessed for early closing. APY is accurate as of May 3, 2021. Fees could reduce the earnings on the account.</p>
                </div>


                
                <p style="color:black; font-weight:bold; padding-top:20px;">Money Market Deposit Accounts</p>
                <a>For Personal and Business</a>
                <div>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Daily Minimum Ledger Balance To Earn APY</th>
                            <th>Interest Rate</th>
                            <th>Annual Percentage Yield</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                <div>
                                    <p>
                                        $0.00 to $2,499.99
                                    </p>
                                </div>
                            </td>
                            <td>0.00%</td>
                            <td>0.00%</td>
                          </tr>

                          <tr>
                            <td>$2,500.00 to $24,999.99</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>
                          
                          
                          <tr>
                            <td>$25,000.00 to $49,999.99</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>
                          <tr>
                            <td>$50,000.00 to $99,999.99</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>
                          <tr>
                            <td>$100,000.00 to $249,999.99</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>
                          <tr>
                            <td>$250,000.00 to $499,999.99</td>
                            <td>0.075%</td>
                            <td>0.075%</td>
                          </tr>
                          <tr>
                            <td>$500,000.00 to $999,999.99</td>
                            <td>0.075%</td>
                            <td>0.075%</td>
                          </tr>
                          <tr>
                            <td>$1,000,000.00 and over</td>
                            <td>0.10%</td>
                            <td>0.10%</td>
                          </tr>
                            </tbody>
                    </table>
                </div>
                <div>
                    <a>*See disclosure for details..</a>
                    <p>We use the Daily Balance Method to calculate the interest on your account. This method applies a daily periodic rate to the Ledger Balance in your account each day. Interest is accrued daily, compounded monthly and credited to your account on your monthly statement date. You must maintain the Daily Minimum Ledger Balance in the account each day to obtain the disclosed Annual Percentage Yield (APY). At our discretion, we may change the interest rates at any time. Penalty will be assessed for early closing. APY is accurate as of May 3, 2021. Fees could reduce the earnings on the account.</p>
                </div>



                <p style="color:black; font-weight:bold; padding-top:20px;">Interest on Lawyer Trust Account (IOLTA)</p>
                <div>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Daily Minimum Ledger Balance To Earn APY</th>
                            <th>Interest Rate</th>
                            <th>Annual Percentage Yield</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                <div>
                                    <p>
                                        $0.00 to $2,499.99
                                    </p>
                                </div>
                            </td>
                            <td>0.00%</td>
                            <td>0.00%</td>
                          </tr>

                          <tr>
                            <td>$2,500.00 to $24,999.99</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>
                          
                          
                          <tr>
                            <td>$25,000.00 to $49,999.99</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>
                          <tr>
                            <td>$50,000.00 to $99,999.99</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>
                          <tr>
                            <td>$100,000.00 to $249,999.99</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>
                          <tr>
                            <td>$250,000.00 to $499,999.99</td>
                            <td>0.075%</td>
                            <td>0.075%</td>
                          </tr>
                          <tr>
                            <td>$500,000.00 to $999,999.99</td>
                            <td>0.075%</td>
                            <td>0.075%</td>
                          </tr>
                          <tr>
                            <td>$1,000,000.00 and over</td>
                            <td>0.10%</td>
                            <td>0.10%</td>
                          </tr>
                            </tbody>
                    </table>
                </div>
                <div>
                    <a>*See disclosure for details..</a>
                    <p>We use the Daily Balance Method to calculate the interest on your account. This method applies a daily periodic rate to the Ledger Balance in your account each day. Interest is accrued daily, compounded monthly and credited to your account on your monthly statement date. You must maintain the Daily Minimum Ledger Balance in the account each day to obtain the disclosed Annual Percentage Yield (APY). At our discretion, we may change the interest rates at any time. Penalty will be assessed for early closing. APY is accurate as of May 3, 2021. Fees could reduce the earnings on the account.</p>
                </div>

          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Savings Account Rates
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              
                <div>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Account Type</th>
                            <th>Daily Minimum Ledger Balance To Earn APY</th>
                            <th>Interest Rate</th>
                            <th>Annual Percentage Yield</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                <div>
                                    <a>
                                        Personal Statement
                                    </a>
                                </div>
                            </td>
                            <td>$500.00</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>

                          <tr>
                            <td><a>Senior Statement</a></td>
                            <td>$500.00</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>
                          
                          
                          <tr>
                            <td><a>Business Statement</a></td>
                            <td>$1,000.00</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>
                          <tr>
                            <td><a>Young Savers Statement</a></td>
                            <td>$1.00</td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>
                          
                            </tbody>
                    </table>
                </div>
                <div>
                    <p>We use the Daily Balance Method to calculate the interest on your account. This method applies a daily periodic rate to the Ledger Balance in your account each day. Interest is accrued daily, compounded quarterly and credited to your account on the last business day of the Interest Quarter. Our Interest Quarters are: December 01 to February 28; March 01 to May 31; June 01 August 31; September 01 to November 30. If you close your account before interest is credited, you will NOT receive the accrued interest. At our discretion, we may change the interest rates at any time. Penalty will be assessed for early closing. Annual Percentage Yield (APY) is accurate as of May 1, 2020. Fees could reduce the earnings on the account.</p>
                </div>
            </div>
        </div>
        </div>



        
    


        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Health Savings Account Rates
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

                <div>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Daily Minimum Ledger Balance To Earn APY</th>
                            <th>Interest Rate</th>
                            <th>Annual Percentage Yield</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                <div>
                                    <a>
                                        $100.00 or more
                                    </a>
                                </div>
                            </td>
                            <td>0.05%</td>
                            <td>0.05%</td>
                          </tr>

                          
                            </tbody>
                    </table>
                </div>
                <div>
                    <a>*See disclosure for details.</a>
                    <p>We use the Daily Balance Method to calculate the interest on your account. This method applies a daily periodic rate to the Ledger Balance in your account each day. Interest is accrued daily, compounded monthly and credited to your account on your monthly statement date. You must maintain the Daily Minimum Ledger Balance in the account each day to obtain the disclosed Annual Percentage Yield (APY). At our discretion, we may change the interest rates at any time. Penalty will be assessed for early closing. APY is accurate as of May 1, 2020. Fees could reduce the earnings on the account.</p>
                </div>
				

			</div>
        </div>
      </div>


	  <div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingFour">
		  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
			Certificates of Deposit
		  </button>
		</h2>
		<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
		  <div class="accordion-body"> 
            <a>For Individuals and Businesses</a>
			<div>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col"> Term Length</th>
                        <th>Daily Minimum Ledger Balance To Earn APY</th>
                        <th>Interest Rate</th>
                        <th>Annual Percentage Yield</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            <div>
                                <a>
                                    31 Days
                                </a>
                            </div>
                        </td>
                        <td>$5,000.00</td>
                        <td>0.03%</td>
                        <td>0.03%</td>
                      </tr>
                      <tr>
                        <td><a>91 Days</a></td>
                        <td>$5,000.00</td>
                        <td>0.05%</td>
                        <td>0.05%</td>
                      </tr>

                      <tr>
                        <td><a>182 Days</a></td>
                        <td>$5,000.00</td>
                        <td>0.15%</td>
                        <td>0.15%</td>
                      </tr>

                      <tr>
                        <td><a>1 Year</a></td>
                        <td>$5,000.00</td>
                        <td>0.18%</td>
                        <td>0.18%</td>
                      </tr>

                      <tr>
                        <td><a>2 1/2 Years</a></td>
                        <td>$5,000.00</td>
                        <td>0.25%</td>
                        <td>0.25%</td>
                      </tr>
                      <tr>
                        <td><a>5 Years</a></td>
                        <td>$5,000.00</td>
                        <td>0.40%</td>
                        <td>0.40%</td>
                      </tr>

                      
                        </tbody>
                </table>
            </div>
            <div>
                <a>Jumbo Certificates - $100,000.00 or more</a>
                <p>Please call a Personal Banker at (773) 267-7300 for the Interest Rates and Annual Percentage Yields of our Jumbo Certificates. The required minimum deposit is $100,000.00 or more.</p>
                <p>We use the Daily Balance Method to calculate the interest on your account. This method applies a daily periodic rate to the Balance in your account each day. Interest is accrued daily, compounded and credited in accordance with your Interest Payment Schedule credited to your account or by bank check from your account’s issue date. The rate of interest will be paid until the maturity date of the account. The Annual Percentage Yield (APY) assumes that interest will remain on deposit until maturity. A withdrawal of interest will reduce earnings. You must maintain the minimum opening deposit amount in your account every day to obtain the APY. Penalty will be assessed for early withdrawal. APY is accurate as of August 23, 2021.</p>
            </div>



		  </div>
	  </div>
	</div>


	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingFive">
		  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
			IRA Rates
		  </button>
		</h2>
		<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
		  <div class="accordion-body">

			<a>Traditional Individual Retirement Accounts</a>
			<div>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col"> Term Length</th>
                        <th>Rate Type</th>
                        <th>Daily Minimum Ledger Balance To Earn APY</th>
                        <th>Interest Rate</th>
                        <th>Annual Percentage Yield</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            <div>
                                <a>
                                   12 Months
                                </a>
                            </div>
                        </td>
                        <td>Fixed</td>
                        <td>$500.00</td>
                        <td>0.18%</td>
                        <td>0.18%</td>
                      </tr>
                      <tr>
                        <td><a>18 Months</a></td>
                        <td>Floating</td>
                        <td>$500.00</td>
                        <td>0.20%</td>
                        <td>0.20%</td>
                      </tr>

                      <tr>
                        <td><a>18 Months</a></td>
                        <td>Fixed</td>
                        <td>$500.00</td>
                        <td>0.20%</td>
                        <td>0.20%</td>
                      </tr>

                      <tr>
                        <td><a>30 Months</a></td>
                        <td>Fixed</td>
                        <td>$500.00</td>
                        <td>0.25%</td>
                        <td>0.25%</td>
                      </tr>
                     </tbody>
                </table>
            </div>


            <a style="padding-top:20px;">Roth Individual Retirement Accounts</a>
			<div>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col"> Term Length</th>
                        <th>Rate Type</th>
                        <th>Daily Minimum Ledger Balance To Earn APY</th>
                        <th>Interest Rate</th>
                        <th>Annual Percentage Yield</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            <div>
                                <a>
                                   12 Months
                                </a>
                            </div>
                        </td>
                        <td>Fixed</td>
                        <td>$500.00</td>
                        <td>0.18%</td>
                        <td>0.18%</td>
                      </tr>
                      <tr>
                        <td><a>18 Months</a></td>
                        <td>Floating</td>
                        <td>$500.00</td>
                        <td>0.20%</td>
                        <td>0.20%</td>
                      </tr>

                      <tr>
                        <td><a>18 Months</a></td>
                        <td>Fixed</td>
                        <td>$500.00</td>
                        <td>0.20%</td>
                        <td>0.20%</td>
                      </tr>

                      <tr>
                        <td><a>30 Months</a></td>
                        <td>Fixed</td>
                        <td>$500.00</td>
                        <td>0.25%</td>
                        <td>0.25%</td>
                      </tr>
                     </tbody>
                </table>
            </div>


            
            <a style="padding-top:20px;">Educational Individual Retirement Accounts</a>
			<div>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col"> Term Length</th>
                        <th>Rate Type</th>
                        <th>Daily Minimum Ledger Balance To Earn APY</th>
                        <th>Interest Rate</th>
                        <th>Annual Percentage Yield</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            <div>
                                <a>
                                   12 Months
                                </a>
                            </div>
                        </td>
                        <td>Fixed</td>
                        <td>$100.00</td>
                        <td>0.18%</td>
                        <td>0.18%</td>
                      </tr>
                      <tr>
                        <td><a>18 Months</a></td>
                        <td>Floating</td>
                        <td>$100.00</td>
                        <td>0.20%</td>
                        <td>0.20%</td>
                      </tr>

                      
                     </tbody>
                </table>
            </div>

            

            <div>
                
                <p>We use the Daily Balance Method to calculate the interest on your account. This method applies a daily periodic rate to the Balance in your account each day. Interest is accrued daily, compounded and credited monthly to your account from your account’s issue date and at maturity. The Annual Percentage Yield (APY) assumes that interest will remain on deposit until maturity. A withdrawal of interest will reduce earnings.
                    18 Months Floating Rate: This is a Variable Rate Account. Your Interest Rate and APY may change at any time. Interest is accrued daily, compounded and credited monthly to your account on the last calendar day of each Calendar Month and on your accounts maturity date.
                    Penalty will be assessed for early withdrawal. APY is accurate as of August 23, 2021.</p>


            </div>

            <hr>

		  </div>
	  </div>
	</div>

			
              
</div>

{% endblock content %}