{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}






  
	<div class="hero overlay inner-page">


   
          <div data-aos="fade-up">
            <img src="{% static 'images/ContentImageHandler.ashx-53.jpg' %}" alt="Image">
          </div>


    
		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5">
				<div class="col-lg-6 text-center pe-lg-5">
					<h1 class="heading text-white mb-3" data-aos="fade-up">Online Security</h1>
					
				</div>
			</div>
		</div>
	</div>


    <div style="padding-top:40px; padding-left:20px">
        <p>The Internet offers a convenient way to bank, shop and communicate with the world, right from your home or office. Unfortunately, not all web sites and emails are legitimate. Con artists and scammers are also using the Internet as a convenient way to defraud consumers. By using "phishing" and website "spoofing," they have found new ways to gain access to personal financial information.</p>

        <p>Your best defense against online fraud is knowledge. It's important to know and understand the different types of online fraud in order to avoid falling victim to them. You can also reduce your risk of falling victim to cyber crime by following safe computing practices. Use strong authentication and passwords and never share them with anyone. Protect your computer by using anti-virus software, a firewall and anti-spyware software. Keep your operating systems and browsers up-to-date by applying patches regularly.</p>
    </div>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Telephone Collection Scam
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

                <p style="color:black;">In these scams, a caller claims that the victim is delinquent in a payday loan and must repay the loan to avoid legal consequences. The callers pretend to be representatives of the FBI, or other legitimate-sounding agencies. They claim to be collecting debts for companies such as United Cash Advance, U.S. Cash Advance, U.S. Cash Net, and other Internet check cashing services.</p>

                <p style="color:black;">The scariest part: these callers actually have personal information such as SSN's, bank account numbers, addresses and more. Though the source of their information is unclear, some victims completed online applications for other loans or credit cards before the calls began.</p>
                <p style="color:black;">The scammers make numerous phone calls to victim's homes, cell phones and work phones. They refuse to give any information about the supposed loan and are irate when questioned. They threaten their victims with law suits, arrests, and even bodily harm if they don't agree to pay.</p>
                <p style="color:black;"></p>

                <strong>These telephone calls are an attempt to steal money by instilling fear in the victims.</strong><br>
                <strong>Do not follow the instructions of the caller.</strong><br>
                <strong>If you receive telephone calls such as these, you should:</strong>

                <ul>
                    <li> Contact your banking institutions;</li>
                    <li>Contact the three major credit bureaus and request an alert be put on your file;</li>
                    <li>Contact your local law enforcement agencies if you feel you are in immediate danger;</li>
                    <li> File a complaint at <a href="{% url '404' %}"> http://www.ic3.gov/ </a></li>
                </ul>  
          </div>
        </div>


        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Email Scams
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p>Some email users have lost money to bogus offers that arrived as spam in their in-box. Con artists are very cunning; they know how to make their claims seem legitimate. Some spam messages ask for your business, others invite you to a website with a detailed pitch.</p>
                <p style="color:black; font-weight:bold;">Either way, these tips can help you avoid spam scams:</p>


                <ul>
                    <li>  Protect your personal information. Share credit card or other personal information only when you're buying from a company you know and trust.</li>
                    <li>Know who you're dealing with. Don't do business with any company that won't provide its name, street address, and telephone number.</li>
                    <li> Take your time. Resist any urge to "act now" despite the offer and the terms. Once you turn over your money, you may never get it back.</li>
                    <li>Read the small print. Get all promises in writing and review them carefully before you make a payment or sign a contract.</li>

                </ul>

                <p>Never pay for a "free" gift. Disregard any offer that asks you to pay for a gift or prize. If it's free or a gift, you shouldn't have to pay for it. Free means free.</p>
            </div>
        </div>
        </div>



        
    


        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Social Networking Sites: A Parent's Guide
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p>While social networking sites can increase a person's circle of friends, they also can increase exposure to people with less than friendly intentions.</p>

				<p style="color:black; font-weight:bold;">"It's 10 p.m. Do you know where your children are?"</p>


                <p>Remember that phrase from your own childhood? It's still a valid question, but now, it comes with a twist: "Do you know where your kids are and who they're chatting with online?"</p>
                <p>Social networking sites have morphed into a mainstream medium for teens and adults. These sites encourage and enable people to exchange information about themselves, share pictures and videos, and use blogs and private messaging to communicate with friends, others who share interests, and sometimes even the world-at-large. And that's why it's important to be aware of the possible pitfalls that come with networking online.</p>
                <p>Some social networking sites attract pre-teens even kids as young as 5 or 6. These younger-focused sites don't allow the same kinds of communication that teens and adults have, but there are still things that parents can do to help young kids socialize safely online. In fact, when it comes to young kids, the law provides some protections and gives parents some control over the type of information that children can disclose online. For sites directed to children under age 13, and for general audience sites that know they're dealing with kids younger than 13, there's the Children's Online Privacy Protection Act (COPPA). It requires these sites to get parental consent before they collect, maintain, or use kids' information. COPPA also allows parents to review their child's online profiles and blog pages.</p>
                <p>Parents sometimes can feel outpaced by their technologically savvy kids. Technology aside, there are lessons that parents can teach to help kids stay safer as they socialize online.</p>

                <p style="color:black; font-weight:bold;">Here are tips for helping your kids use social networking sites safely:</p>
                

                <ul>
                    <li>Help your kids understand what information should be private.</li>
                    <li> Explain that kids should post only information that you and they are comfortable with others seeing.</li>
                    <li>Use privacy settings to restrict who can access and post on your child's website.</li>
                    <li>  Remind your kids that once they post information online, they can't take it back.</li>
                    <li>Talk to your kids about avoiding sex talk online.</li>
                    <li>Tell your kids to trust their gut if they have suspicions. If they ever feel uncomfortable or threatened by anything online, encourage them to tell you.</li>
                </ul>


              <p> To learn more about staying safe online, visit: Federal Trade Commission<a href="{% url '404' %}">http://www.onguardonline.gov/</a></p>  
              <p>The FTC manages OnGuardOnline.gov, which provides practical tips from the federal government and the technology industry to help you be on guard against internet fraud, secure your computer, and protect your personal information.</p>  
               
			</div>
        </div>
      </div>


	  <div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingFour">
		  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
			Identity Theft
		  </button>
		</h2>
		<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
		  <div class="accordion-body"> 
            <p>Identity theft occurs when a thief obtains pieces of your personal information and uses them to commit theft or fraud. Identity theft can also be a direct result of a phishing scam. For example, with information such as your name, date of birth and Social Security number, a thief could obtain credit in your name without your knowledge and make numerous charges without paying the bill. The consequences of their actions can seriously damage your financial credit reputation. Repairing the damage and restoring your credit can be costly and can take months or even years.</p>

			<p style="color:black; font-weight:bold">How to protect yourself:</p>
			<ul>
                <li>Don't give out personal information unless you know the person or business you are dealing with.</li>
                <li>Don't write personal identification numbers on your ATM or debit cards.</li>
                <li>Don't carry your Social Security card, birth certificate or passport with you unless you are using them that day.</li>
                <li>Don't share your user IDs and passwords with anyone.</li>
                <li>Monitor your credit card and bank statements for unauthorized charges or unusual activities.</li>
                <li>Keep a list of your credit cards at home along with customer service phone numbers for each.
Monitor your credit bureau reports regularly.</li>
                <li>Shred credit card applications, checks and any other mail you don't want before throwing it away.</li>
                
            </ul>
            <p>If you are a victim of identity theft, close your accounts that have been tampered with or have been fraudulently opened in your name. File a report with your local police department and a complaint with the FTC. Contact any one of the credit reporting agencies to place a fraud alert.</p>
            <ul>
                <li><p><strong>Equifax:</strong> <a href="tell:">(800) 525-6285;</a> <a href="{% url '404' %}"> http://www.equifax.com/; </a> P.O. Box 740241, Atlanta, GA 30374-0241</p></li>
                <li><p><strong>Experian: </strong> <a href="tell:">1-888-EXPERIAN (888-397-3742);</a> <a href="{% url '404' %}"> http://www.experian.com/;</a></p> P.O. Box 9532, Allen, TX 75013</li>
                <li><p><strong>TransUnion:</strong> <a href="tell:"> (800) 680-7289;</a> <a href="{% url '404' %}"> http://www.transunion.com/;</a>Fraud Victim Assistance Division, P.O. Box 6790, Fullerton, CA 92834-6790</p></li>
            </ul>

            <p>For more information on how to protect yourself or to report identity theft, call the Federal Trade Commission's theft hotline at <a href="tel:"> 1-877-IDTHEFT (877-438-4338) </a> or go to <a href="{% url '404' %}"> http://www.ftc.gov/idtheft/.</a></p>
            

		  </div>
	  </div>
	</div>
  <div style="padding:20px;"> </div>
				

			</div>
		</div>
	</div>
</div>

{% endblock content %}