{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}






  
	<div class="hero overlay inner-page">
    <div data-aos="fade-up">
            <img src="{% static 'images/ContentImageHandler.ashx-32.jpg' %}" alt="Image">
        </div>

		<div class="container" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
			<div class="row align-items-center justify-content-center pt-5" >
				<div class="col-lg-6 text-center pe-lg-5" >
					<h1 class="heading text-white mb-3" data-aos="fade-up" >Our Team</h1>
				</div>
			</div>
		</div>
	</div>

   
    <div style="padding:20px;"></div>

    <div class="section">
		<div class="container">
            <div class="row">
				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="0">
					<img src="{% static 'images/ContentImageHandler.ashx-33.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Robert Gecht</h5>
					<p>President</p>
                    <p> <a href="tell:"> (773) 267-0614 </a> </p>
                   <a href="mailto:">  <span class="bi bi-envelope"></span>Email Robert</a>
				</div>
				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="100">
					<img src="{% static 'images/ContentImageHandler.ashx-34.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Adam Steinback</h5>
                    <p>Senior Vice President, Commercial Services</p>
                    <p> <a href="tell:">  (773) 463-5681 </a> </p>
                    <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email Adam</a></p>
                    <a href="{% url '404' %}"><span class="bi bi-linkedin"></span> View Profile </a>
				</div>
				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
					<img src="{% static 'images/ContentImageHandler.ashx-35.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Stuart Rosenberg</h5>
                    <p>Senior Vice President, Operations</p>
                    <p> <a href="tell:">  (773) 463-5587 </a> </p>
                    <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email Stuart</a></p>
                    <a href="{% url '404' %}"><span class="bi bi-linkedin"></span> View Profile </a>
				</div>

				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="0">
					<img src="{% static 'images/ContentImageHandler.ashx-36.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Brenda Helms</h5>
                    <p>Trust Officer & General Counsel</p>
                    <p> <a href="tell:">  (773) 463-6427 </a> </p>
                    <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email Brenda</a></p>
                </div>

				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="100">
					<img src="{% static 'images/ContentImageHandler.ashx-37.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Michael McKee</h5>
                    <p>Vice President, Loans</p>
                    <p> <a href="tell:">(773) 463-5630 </a> </p>
                    <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email Michael</a></p>
                    <a href="{% url '404' %}"><span class="bi bi-linkedin"></span> View Profile </a>
				</div>
				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
					<img src="{% static 'images/ContentImageHandler.ashx-38.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Pat Mulcahy</h5>
                    <p>Vice President, Loans</p>
                    <p> <a href="tell:">(773) 433-1453</a> </p>
                    <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email Pat</a></p>
                    <a href="{% url '404' %}"><span class="bi bi-linkedin"></span> View Profile </a>
				</div>

                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
					<img src="{% static 'images/ContentImageHandler.ashx-39.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Veronica Mendoza</h5>
                    <p>Commercial Loan Officer, Loans</p>
                    <p> <a href="tell:">(773) 463-4345</a> </p>
                    <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email Veronica</a></p>
                    <a href="{% url '404' %}"><span class="bi bi-linkedin"></span> View Profile </a>
				</div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
					<img src="{% static 'images/ContentImageHandler.ashx-40.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Ryan Wanland</h5>
                    <p>Commercial Loan Officer, Loans</p>
                    <p> <a href="tell:">(773) 463-5684</a> </p>
                    <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email Ryan</a></p>
                </div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
					<img src="{% static 'images/ContentImageHandler.ashx-41.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Andrew Schwebel</h5>
                    <p>Vice President, Commercial Services</p>
                    <p> <a href="tell:"> (773) 267-7351</a> </p>
                    <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email Andrew</a></p>
                    <a href="{% url '404' %}"><span class="bi bi-linkedin"></span> View Profile </a>
				</div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
					<img src="{% static 'images/ContentImageHandler.ashx-42.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Alma Tapia</h5>
                    <p>Vice President, Operations</p>
                    <p> <a href="tell:">(773) 463-4315</a> </p>
                    <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email Alma</a></p>
                </div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
					<img src="{% static 'images/ContentImageHandler.ashx-43.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Sonia Mazzotti</h5>
                    <p>Branch Manager, North Mayfair Branch</p>
                    <p> <a href="tell:">(773) 499-7190</a> </p>
                    <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email Sonia</a></p>
                </div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
					<img src="{% static 'images/ContentImageHandler.ashx-44.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Galina Veksler</h5>
                    <p>Vice President, Commercial Banker Main & Skokie Branch</p>
                    <p> <a href="tell:">(847) 410-6085</a> </p>
                    <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email Galina</a></p>
                    <a href="{% url '404' %}"><span class="bi bi-linkedin"></span> View Profile </a>
				</div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
					<img src="{% static 'images/ContentImageHandler.ashx-45.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					<h5 class="text-black">Milagros Cuevas</h5>
                    <p>Personal Banking Officer, Lincoln Square Branch</p>
                    <p> <a href="tell:">(773) 433-1061</a> </p>
                    <p><a href="mailto:">  <span class="bi bi-envelope"></span> Email Milagros</a></p>
				</div>


			</div>

		</div>
	</div>



{% endblock content %}